.primaryBg._1 {
    background-color: black;
}

.primaryColor._1 {
    color: white;
}

.secondaryBg._1 {
    background-color: #00c954;
}

.secondaryColor._1 {
    color: #00c954;
}

.thirdBg._1 {
    background-color: #02ed64;
}

.thirdColor._1 {
    color: white;
}

.primaryBg._2 {
    background-color: #7a186f;
}

.primaryColor._2 {
    color: white;
}

.secondaryBg._2 {
    background-color: #eae600;
}

.secondaryColor._2 {
    color: #eae600;
}

.thirdBg._2 {
    background-color: #ea8d00;
}

.thirdColor._2 {
    color: white;
}

.primaryBg._3 {
    background-color: #f4cf00;
}

.primaryColor._3 {
    color: black;
}

.secondaryBg._3 {
    background-color: #de0202;
}

.secondaryColor._3 {
    color: #de0202;
}

.thirdBg._3 {
    background-color: red;
}

.thirdColor._3 {
    color: white;
}

.primaryBg._4 {
    background-color: white;
}

.primaryColor._4 {
    color: black;
}

.secondaryBg._4 {
    background-color: #6c6c6c;
}

.secondaryColor._4 {
    color: black;
}

.thirdBg._4 {
    background-color: black;
}

.thirdColor._4 {
        color: white;
}

